<h2 class="box-heading">Upcoming Shows</h2>
{{#entries}}
  <div class="entry">
    {{#if facebook}}
      <a target="_blank" href="{{facebook}}" class="fbevent">
        <img src="img/facebook-icon.png">
      </a>
    {{/if}}
    <div class="date">
      <a target="_blank" href="{{url}}">
        {{formatted_date}}
        {{time}}
      </a>
    </div>
    <div class="venue">
      {{#if venue.url}}
        <a target="_blank" href="{{venue.url}}">{{venue.name}}</a>
      {{else}}
        {{venue.name}}
      {{/if}}

      <div class="address">
        <a target="_blank" href="http://maps.google.com?q={{venue.name}} {{venue.city}},{{venue.region}}">{{venue.city}}, {{venue.region}}</a>
      </div>
    </div>

    <p>{{&description}}</p>
    {{#if poster}}
      <a data-toggle="lightbox" data-type="image" href="{{poster}}">
        <img style="width: 100%" src="{{poster}}">
      </a>
    {{/if}}
    {{#if ticket_url}}
      <a target="_blank" href="{{ticket_url}}">[buy tickets]</a>
    {{/if}}
  </div>
{{/entries}}